@{
    ViewData["Title"] = "FLOTEX SAC";
}

<style>
    .banner{
        background-position: center;
        background-image: url(../img/FLOTEX-LOGO.png);
        height: 300px;
        background-size: contain;
        background-repeat: no-repeat;
    }
</style>
<br><br>
<div class="container text-center">
    <div class="banner"></div>
    <br>
    <div class="h1 text-info fw-bolder"> QUIENES SOMOS</div>
    <div class="text">Somos una empresa que su funcion es proveer producto textil de alta calidad y diseño innovador, satisfaciendo las necesidades y
 expectativas de nuestros clientes, mientras mantenemos un enfoque sostenible en todas nuestras operaciones. Buscamos consolidarnos 
como líderes en la industria textil, expandiendo nuevos mercados y fortaleciendo nuestras relaciones con clientes y socios comerciales para
 alcanzar un crecimiento rentable y sostenible a largo plazo.</div>
</div>
